main {
  min-height: 100vh;
  background-color: #e5e5e0;
  display: flex;
  justify-content: center;
  align-items: center;
  // color: black;
}

.form-container {
  height: fit-content;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  text-align: center;


  form {
    display: flex;
    flex-direction: column;
    gap:1rem;


    input,button{
        border: none;
        outline: none;
        padding-inline: 1.5rem;
        padding-block: 1rem;
        border: 1px solid #FFFFFF;


    }
    button{
        cursor: pointer;
        background-color: #3B94EE;
    }
  }

  .toggleform{
    text-decoration: none ;
    color:#3B94EE ;
    cursor: pointer;
  }
}
