@import "tailwindcss";


/* global reset */
/* *{
  margin:0;
  padding:0;
  box-sizing:border-box;
} */

/* body styling */
body{
  background-color: #000;
  color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}