@mixin flex($gap) {
  display: flex;
  gap: $gap;
}
main {
  background-color: black;
}
.post-conatiner {
  color: black;
  max-width: 25rem;
  background-color: rgb(205, 188, 188);
  border-radius: 1rem;

  .posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;

    .post {
      width: 100%;

      .uppr-section {
        background-color: rgb(255, 230, 230);
        width: 100%;
        @include flex(0.5rem);
        align-items: center;
        padding: 0.5rem;
        padding-left: 2rem;

        .img-wrapper {
          height: 40px;
          width: 40px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            padding: 1px;
            background: conic-gradient(
              #feda75,
              #fa7e1e,
              #d62976,
              #962fbf,
              #4f5bd5,
              #feda75
            );
          }
        }
        h3 {
          font-size: 1.5rem;
        }
      }
      .feed-img {
        width: 100%;
        // padding: 3rem;
        padding-inline: 3rem;
        padding-block: 1rem;

        .feed-img-wrapper {
          width: 100%;
          border: 1px solid black;
          padding: 0.5rem;
          border-radius: 2rem;

          img {
            border: 1px solid black;
            width: 100%;
            object-fit: cover;
            border-radius: 2rem;
          }
        }
      }
   .lower-sec {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  padding-left: 0.8rem;
  gap: 1rem;

  .like {
    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: black;
      transition: color 0.3s ease, transform 0.2s ease;
      cursor: pointer;
    }

    &.liked {
      svg {
        color: red;
        transform: scale(1.1);
      }
    }
  }

  .comment {
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .left-share {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
    .caption {
      // background-color: red;
      padding-inline: 1rem;

      P {
        font-size: 1rem;
        font-weight: 500;
        opacity: 85%;
        line-height: 1.5rem;
      }
    }
  }
}
}