
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}




html{
  background-color: rgb(71, 69, 69);
  color: white;
}
.task{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  flex-wrap: wrap;
}
.task1{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  flex-wrap: wrap;
}